<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)">  Live Device Integrations</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">  Environmental Dashboard</a></li>
 </ol>
 
<div class="container-fluid" style="margin-top: 77px;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="tabsComponent" class="positionRelative">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15221.989279781685!2d78.34438615!3d17.4837577!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1523880395980" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe> -->
        <!-- <h1>Angular Google Maps (AGM) Demo</h1>
        <p><a href="https://angular-maps.com/" target="_blank">Official Website</a></p>
         -->
        <div id="envernmtMap">
          <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">
        
            <agm-marker 
            *ngFor="let m of envMarkers; let i = index" 
            (mouseOver)="mouseOver($event, m, infoWindow, gm)" 
            [latitude]="m.lat" 
            [longitude]="m.lng"
            [label]="m.label" 
            [markerDraggable]="m.draggable"
            [iconUrl] = "m.iconUrl"
            (markerClick)="clickedMarker(m, i)"
            (mapClick)="mapClicked($event)"
            (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window #infoWindow>
                  <div class="tooltipData">
                    <strong class="text-center" style="color:red;    text-align: center !important;
                    display: inherit;">Report Status</strong> 
                    <strong><hr class="hrStyle1"/></strong>
                    <strong>CO<sub>2</sub>: {{co2}}</strong> ppm <br>
                    <strong>SO<sub>2</sub>: {{so2}}</strong> µg/m³ <br>
                    <strong>NO<sub>2</sub>: {{no2}}</strong> µg/m³ <br>
                    <!-- <strong>O<sub>2</sub>: {{o2}}</strong> µg/m³ <br> -->
                    <strong>Noise Level: {{noise}}</strong> dbA <br>
                    <strong>RH: {{rh}}</strong> % <br>
                    <strong>Temperature: {{temp}}</strong> Degree Celsius <br>
                    <strong>Light: {{light}}</strong> lux <br>
                    <strong>CO: {{co}}</strong> µg/m³ <br>
                    <strong>UVA: {{uva}}</strong> mw/cm2 <br>
                    <strong>PM10: {{pm10}}</strong> µg/m³ <br>
                    <strong>PM25: {{pm25}}</strong> µg/m³ <br>
                    <strong>O3: {{o3}}</strong> ug/m3 <br>
                    <strong>UVB: {{uvb}}</strong> mw/cm2 <br>
                    
                  </div>
                </agm-info-window>

            </agm-marker>
            <!-- <agm-circle [latitude]="lat + 0.1" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
            </agm-circle> -->
        </agm-map>
        </div>
        <!--    new map     -->

        <!--    new map     -->
      </div>
    </div>
    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div id="tabsArea" class="multitabs parentTabs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <ul class="list-inline panel-actions">
              <li>
                <a id="panel-fullscreen" role="button" title="Toggle fullscreen">
                  <i class="glyphicon glyphicon-resize-full"></i>
                </a>
              </li>
            </ul>
            <ul class="nav nav-tabs" id='tabULL'>
              <li class="active" data-toggle="tooltip" title="CO2">
                <a data-toggle="tab" href="#tab1" class="text-capitalize">CO<sub>2</sub></a>
              </li>
              <li data-toggle="tooltip" title="SO2">
                <a data-toggle="tab" href="#tab2" class="text-capitalize" (click) = "daily()" >SO<sub>2</sub></a>
              </li>
              <li data-toggle="tooltip" title="NO2">
                <a data-toggle="tab" href="#tab3" class="text-capitalize" (click) = "daily()">NO<sub>2</sub></a>
              </li>
              <li data-toggle="tooltip" title="O2">
                <a data-toggle="tab" href="#tab4" class="text-capitalize" (click) = "daily()">O<sub>2</sub></a>
              </li>
              <li data-toggle="tooltip" title="Noise Level">
                <a data-toggle="tab" href="#tab5" class="text-capitalize" (click) = "daily()">Noise Level</a>
              </li>
              <li data-toggle="tooltip" title="All">
                <a data-toggle="tab" href="#tab6" class="text-capitalize" (click) = "daily()">All</a>
              </li>
            </ul>

          </div>
          <div class="panel-body" style="height: 515px;">
            <div class="tab-content chartContent">
              <div id="tab1" class="tab-pane fade in active charts1234">

                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()" class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>

                  <chart [options]="options">
                    </chart>
              </div>
              <div id="tab2" class="tab-pane fade in  charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()" class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>

                  <chart [options]="options1">
                    </chart>
              </div>
              <div id="tab3" class="tab-pane fade in  charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()" class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>

                  <chart [options]="options2">
                    </chart>
              </div>            
              <div id="tab4" class="tab-pane fade charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()"  class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>
                <chart [options]="options3">
                </chart>
              </div>
              <div id="tab5" class="tab-pane fade charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()"  class="f_left libtn">Daily</li>
                      <li (click) = "weekly()"  class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>
                <chart [options]="options4">
                </chart>
              </div>
              <div id="tab6" class="tab-pane fade charts1234">
                  <ul class="liststyleNone btndaily">
                      <li (click) = "daily()"  class="f_left libtn">Daily</li>
                      <li (click) = "weekly()" class="f_left libtn">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li class="f_left libtn" (click) = "quaterly()">Quarterly</li>
                      <li class="f_left libtn" (click) = "yearly()">Yearly</li>
                    </ul>
                    <chart [options]="options5">
                      </chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- tabs div -->
  </div>
</div>




<div id="waterlevelPopUp1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content m-top200  wow swing animated">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="close opacity1" data-dismiss="modal">&times;</button>
        <!-- <img src="../assets/images/alert icon.png" class="img-responsive alertPosition"> -->
        <!-- <h4 class="modal-title alertStyle" >ALERT</h4> -->
        <div class="modal-body">
          <p class="text-center  f-size20" style="margin-top: -10px;"> {{'Notification Sent'}} </p>
        </div>
      </div>
    </div>
  </div>
</div>