<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)"> E Governance</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">Birth & Death Chart</a></li>
 </ol>
<div  style="padding: 0px;">
    <div class="chartContent">   
        <div class="">
            <div  class="">
                <div class="col-lg-5 col-md-12 col-ms-12 col-xs-12 airMap m-btm20" style="padding-left:25px;">
                  <div class="electricitymap" id="incidentMapArea111">
                      <agm-map 
                      [latitude]="lat"
                      [longitude]="lng"
                      [zoom]="zoom"
                      [disableDefaultUI]="false"
                      [zoomControl]="false"
                      (mapClick)="mapClicked($event)">
                    
                      <agm-marker 
                          *ngFor="let m of markers; let i = index"
                          (markerClick)="clickedMarker(m.label, i)"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [label]="m.label"
                    
                          [markerDraggable]="m.draggable"
                          (dragEnd)="markerDragEnd(m, $event)">
                          
                        <agm-info-window>
                          <strong>
                            <b>{{m.lat}}</b><br>
                            <b>{{m.lng}}</b><br>
                            <b>{{m.city}}</b>
                          </strong>
                        </agm-info-window>
                        
                      </agm-marker>
                    </agm-map>
                  </div>        
                </div>
                <div class="col-lg-7 col-md-12 col-ms-12 col-xs-12">
                    <div id="tabsArea" style="margin-top: -25px" class="multitabs">
                        <div class="panel panel-default">
                          <div class="panel-heading">                  
                            <ul class="nav nav-tabs">
                              <li class="active" data-toggle="tooltip" title="Smart Water Distribution">
                                <a data-toggle="tab" href="#tab11" class="text-capitalize">Age Wise Population</a>
                              </li>
                              <li data-toggle="tooltip" title="Distribution Volume">
                                <a data-toggle="tab" href="#tab22" class="text-capitalize">Birth & Death</a>
                              </li>
                              
                            </ul>      
                          </div>
                          <div class="panel-body">
                            <div class="tab-content chartContent">
                              <div id="tab11" class="tab-pane fade in active">      
                               
                                 <div class="paddingLeftRightZero">
                                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                                    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                                  </ngx-charts-bar-vertical>
                                  <div class="ngmap">
                                  <div id="chartdiv" [style.width.px]="400" [style.height.px]="250"></div>
                                </div>
                                 </div>
                              </div>
                              <div id="tab22" class="tab-pane fade in  chartwater" style="height:auto;overflow: auto;">
                                  <div style="float: right;">
                                      <select  name="option" id="option" [(ngModel)]="option" (change)="selectYear(option)">
                                        <option value="Select Year" >Select Year</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                      </select>
                                    </div>
                                <div>
                                    <!-- <div id="chartdiv1" [style.width.%]="100" [style.height.px]="250"></div> <br> -->
                                    <ngx-charts-bar-vertical-2d
                                    [view]="view1"
                                    [scheme]="colorScheme"
                                    [results]="multi"
                                    [gradient]="gradient"
                                    [xAxis]="showXAxis"
                                    [yAxis]="showYAxis"
                                    [legend]="showLegend"
                                    [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel"
                                    [xAxisLabel]="xAxisLabel"
                                    [yAxisLabel]="yAxisLabel"
                                    (select)="onSelect1($event)">
                                  </ngx-charts-bar-vertical-2d>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-body" style="margin-top: -100px">
                              <div class="tab-content chartContent">
                                  <div id="chartdiv1" [style.width.%]="100" [style.height.px]="250"></div>
                                </div>
                                </div>
                          
                        </div>
                      </div>
                </div> 
              </div>
          </div>
          </div>
          </div>

<!-- <div class="container">
<div class="row">
  <div class="col-sm-6">
    <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
      <agm-info-window>
        <strong>
          <b>{{m.lat}}</b><br>
          <b>{{m.lng}}</b><br>
          <b>{{m.city}}</b>
        </strong>
      </agm-info-window>
  </agm-marker>
</agm-map>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-6">
    <div style="text-align: center" >AGE WISE POPULATION</div>
    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>
<div class="col-sm-6">
  Test
</div>
  </div>
</div>
</div>


</div> -->
