<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)"> E Governance</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">Urban Sprawl</a></li>
 </ol>
<div class="linegraph11">
    <h3>Property Registrations vs Income </h3>
      <chart   [options]="options"></chart>
 </div>