.inputSTyle{
    padding: 6px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.addBtn11{
    margin-top: 19px;
    padding: 7px 18px;
}
.txtAreaStyle{
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 254px;
    /* margin-top: 10px; */
    margin-left: -17px;
}
.btnSUbmtPortal{
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 7px 18px;
    margin-left: -17px;
}
#portal{
    background-color: #dff0d8;
    width: 475px;
    border-radius: 10px;
    height: 200px;
}
.remveStyle{
    cursor: pointer;
    width: 26px;
    margin-top: -2px;
}
.select_size{
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.cl{
    margin-left: 100px;
   
}
.cl .btn-primary{
    text-align: center
}
.button input{
    margin-left: 50px;
    margin-top: 10px;
}