<!-- <div>
  <img src="../../assets/images/chennai.jpg" class="img-responsive" style="width:100%;height:800px;margin-top: 90px;">
</div> -->

<ol class="breadcrumb">
  <li class="breadcrumb-item active"><a href="javascript:void(0)">Send Alert</a></li>
 
 </ol>
 
<div class="container-fluid">
  <div class="col-sm-12" style="min-height: 734px;">
    <div id="tabsArea" class="multitabs parentTabs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- <h3 class="panel-title">Panel title</h3> -->
          <!-- <ul class="list-inline panel-actions">
              <li>
                <a id="panel-fullscreen1" role="button" title="Toggle fullscreen">
                  <i class="glyphicon glyphicon-resize-full"></i>
                </a>
              </li>
            </ul> -->
          <ul id="parentTabs" class="nav nav-tabs ">
            <li class="active" data-toggle="tooltip" title="SMS">
              <a data-toggle="tab" href="#portal" class="text-capitalize cursorPointer">SMS</a>
            </li>
            <!-- <li  data-toggle="tooltip" title="Portal1">
                    <a data-toggle="tab" href="#portal1" class="text-capitalize cursorPointer">Incident Details</a>
                  </li>            -->
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div id="portal" class="tab-pane fade in active">
            <div class="cl">
              <div class="select_size">
                <mat-select name="area" id="area" [(ngModel)]="area" (change)="getplaceData(Ramanathapuram)">
                  <mat-option value="Select area" selected>Select</mat-option>
                  <mat-option value="Select area" selected> Surat</mat-option>
                  <!-- <!-- <option *ngFor="let contact of dropdown" value="{{contact.area}}">{{contact.area}}</option> -->
                </mat-select>
              </div>
                <form (submit)="submit1(p)" #p="ngForm">
                    <div class="row">
                      <div class="col-sm-4">
                          <textarea name="message" rows="4" cols="40" id="message" placeholder="Enter Message Here" ngModel></textarea>
                      </div>
                      <div class="col-sm-4">
                         
                       </div>
                    </div>
                    <div class="row button">
                        <input type="submit" class="btn btn-primary" style="text-align: center" value="submit"> 
                    </div>
                  </form>
              
            </div>
            </div>



          </div>
        </div>
      </div>
      <!-- <div>
        <form>
          <div>
            <input type="text" placeholder="http://192.168.1.100:8080" class="inputStyle m_b10" name="iconUrl" [(ngModel)]="changeUrl.iconUrl">
          </div>
          <button class="btn" (click)="updateUrl()">Update</button>
        </form>

      </div> -->

    </div>
  </div>
</div>

<!-- <div>
  <iframe id="Example2"
  title="Example2"
  width="400"
  height="300"
  frameborder="0"
  scrolling="no"
  marginheight="0"
  marginwidth="0" src="http://192.168.1.100:8080"  width="400" height="400">
    
  </iframe>
</div> -->