agm-map {
    height: 300px;
  }
  
  
  a {
    color: darkblue;
  }
  .incidentBg{
    background: #fff;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: table;
    position: relative;
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 5px;
}
.incidentborderStyle{
    border-bottom: 1px solid #ddd;
    padding: 4px;
    min-height: 30px;
}
.tableNature{width: 560px;}
.tableNature td{
    padding: 8px;
    font-size: 16px;
}
.bgGrey{background: #ddd;}
.borderright{border-right: 1px solid #ddd;}
.borderR{border-radius: 20px;}
.drpDwnN{
    padding: 10px;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.btnClass {
    margin-left: 10px;
    color: red;
    border-bottom: black;
    padding: 10px;
}
#mapView .modal-dialog{
margin-top: -60px;
}
.map_button{
    margin-left: 35px;
}
#incidentMapArea121 agm-map{
    height: 590px !important;
}
div.notice {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
    font-weight:normal;
	color:#000000;
    margin-top:10px;
    text-align:center;
    display: none !important;
}