<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeftRightZero">
  <div class="text-center" >
      <!-- <ul class="listNone">
          <li class="footrStyle">Help</li>
          <li class="footrStyle">Website Policy</li>
          <li class="footrStyle">Sitemap</li>
          <li class="footrStyle">Archives</li>
          <li class="footrStyle" style="border-right:transparent !important">Terms & Conditions</li>
        </ul> -->
        <!-- <div class="text-center footerStyle123">
            Copyrights@yitsol.com @ 2018
        </div> -->

  </div>
</div>