<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)"> State Level Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="javascript:void(0)"> Smart Parking</a></li>
   </ol>
<div  style="padding: 0px;">
  <div class="chartContent">   
      <div class="">
          <div class="col-lg-6 col-md-6 col-ms-12 col-xs-12 parkgMap m-btm20" style="padding-left:18px;">
              <div class="" id="incidentMapArea111">
                  <agm-map #gm2 [latitude]="latParking" [longitude]="lngParking" [zoom]="zoom1" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked1($event)">
      
                      <agm-marker *ngFor="let m of markers2; let i = index" (markerClick)="clickedMarker2(m, i)" [latitude]="m.lat" [longitude]="m.lng"
                        [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl" (dragEnd)="markerDragEnd(m, $event)" (mouseOver)="mouseOver2($event, m.label, m.city, m.severity, m.type, infoWindow2, gm2)">
                     
                      <agm-info-window #infoWindow2 class="font-sanserif">
                          <div>
                              <div class="satisfactryStyle">
                            Parking Space & Collection
                              </div>
                              
                                <div class="bordrBtm">
                                    <span class="f-size24">Total Parking Places : {{area}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                                    </div>
                                    <div class="bordrBtm">
                                        <span class="f-size24"> Collection:INR {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                                    </div>
                              </div>
                        </agm-info-window>
                      </agm-marker>
                    </agm-map>
              </div>        
            </div>
            <div class="col-lg-6 col-md-6 col-ms-12 col-xs-12">
                <div class="txtCenter99">
                    Collection&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../assets/images/rightarrow.png" style="width:50px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coimbatore
                   </div>
                   <div class="linegraph11">
                      <ul class="liststyleNone" style="padding-bottom: 40px;margin-left: -35px;">
                          <li  class="f_left libtn" (click) = "weekly()">Weekly</li>
                          <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                          <li  class="f_left libtn" (click) = "yearly()">Yearly </li>
                        </ul>
                        <chart   [options]="options"></chart>
                   </div>
                   <div class="clearfix"></div>
              </div>
      </div>
    </div>
    </div>
     



    