<div class="row">
    <div class="col-sm-6">
        <div class="bgmap">
            <div id="chartdiv" [style.width.px]="650" [style.height.px]="270"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="bgmap">
            <div class="txtCenter99">
                <b> Smart Parking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="../assets/images/rightarrow.png" style="width:50px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coimbatore</b>
            </div>
            <div class="linegraph111">
                <!-- <ul class="liststyleNone" style="padding-bottom: 40px;margin-left: -35px;">
                      <li  class="f_left libtn" (click) = "weekly()">Weekly</li>
                      <li class="f_left libtn" (click) = "monthly()">Monthly</li>
                      <li  class="f_left libtn" (click) = "yearly()">Yearly </li>
                    </ul> -->
                <chart [options]="options"></chart>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="space">
    
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="bgmap">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

                <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label,m.lat,m.lng)" [latitude]="m.lat"
                    [longitude]="m.lng" [iconUrl]="m.iconUrl" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

                    <agm-info-window>
                        <strong>{{m.lat}}</strong>
                        <br>
                        <strong>{{m.lng}}</strong>
                    </agm-info-window>

                </agm-marker>
            </agm-map>
        </div>
    </div>
    <div class="col-sm-6">
            <div class="bgmap1">
        <div id="tab11" class="tab-pane fade in active">
            <div class="paddingLeftRightZero">
                <div>
                    <img src="../assets/images/waterImg.jpg" class="img-responsive imgWater">
                </div>
                <div>
                    <div class="f-size8">{{ todayDate | date : "dd.MM.y" }} MORNING</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeftRightZero">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 paddingLeftRightZero">
                            <div class="watrTxtBg">Total No. of ELSRs</div>
                            <div class='v-center-flex'>
                                <div class="f-size8"> 58</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                            <div class="watrTxtBg">Total Capacity</div>
                            <div class='v-center-flex'>
                                <div class="f-size8"> 54115 KL</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                            <div class="watrTxtBg">Supplied Quantity</div>
                            <div class='v-center-flex'>
                                <div class="f-size8"> 48890 KL</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                            <div class="watrTxtBg">Supplied Quantity</div>
                            <div class='v-center-flex'>
                                <div>
                                    <img src="../assets/images/water quantity.png" style="width: 50px;" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 colmd-12 col-sm-12 col-xs-12 paddingLeftRightZero">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 paddingLeftRightZero">
                        <div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingLeftRightZero">
                                <div class="watrTxtBg">Excess Supply Count</div>
                                <div class='v-center-flex'>
                                    <div class="f-size8"> 45</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="watrTxtBg">Excess Volume</div>
                                <div class='v-center-flex'>
                                    <div class="f-size8"> 5307 KL</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                                <div class="watrTxtBg">Excess Supply</div>
                                <div class='v-center-flex'>
                                    <div>
                                        <img src="../assets/images/water quantity 9.8.png" style="width: 40px;" class="img-responsive1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingLeftRightZero">
                                <div class="watrTxtBg">Deficient Supply Count</div>
                                <div class='v-center-flex'>
                                    <div class="f-size8"> 13</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="watrTxtBg">Deficient Volume</div>
                                <div class='v-center-flex'>
                                    <div class="f-size8"> 10454 KL</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                                <div class="watrTxtBg">Deficient Supply</div>
                                <div class='v-center-flex'>
                                    <div>
                                        <img src="../assets/images/water quantity 19.32.png" style="width: 40px;" class="img-responsive1">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 paddingLeftRightZero">
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                <div class="watrTxtBg">Excess Supply ELSRs</div>
                                <div class="excessScroll">
                                    <div class="txtBorder">Coimbatore(8)</div>
                                    <div class="txtBorder">Madurai(9)</div>
                                    <div class="txtBorder">Thanjavur(6)</div>
                                    <div class="txtBorder">Tiruchirapalli(4)</div>
                                    <div class="txtBorder">Vellore(4)</div>
                                    <div class="txtBorder">Tirunelveli(6)</div>
                                    <div class="txtBorder">Tiruppur(4)</div>
                                    <div class="txtBorder">Thoothukudi(4)</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingLeftRightZero">
                                <div class="watrTxtBg">Deficient Supply ELSRs</div>
                                <div class="excessScroll">
                                    <div class="txtBorder">Salem (5)</div>
                                    <div class="txtBorder">Erode(8)</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>