<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)">  Live Device Integrations</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">  Real Smart Surveiliance</a></li>
 </ol>
<div class="row">
  
  <div class="col-sm-12">
  <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label,m.lat,m.lng)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [iconUrl]="m.iconUrl"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
</agm-map>
</div>
</div>

<!-- modal -->
<div id="myModal" class="modal fade"  data-backdrop="static" and data-keyboard="false" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div *ngIf="mapdata">
                <iframe style="border:2px solid #ccc" width="95%" height="337px" src="https://s3.ap-south-1.amazonaws.com/smartcityvedio/rbsq2-otk3q.mp4" frameborder="0"
                allow="autoplay" allow="encrypted-media" aut allowfullscreen></iframe>
                </div>
               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>


  <!-- modal -->
<div id="myModal123" class="modal fade"  data-backdrop="static" and data-keyboard="false" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
           
                <div >
                    <iframe style="border:2px solid #ccc" width="95%" height="337px" src="https://s3.ap-south-1.amazonaws.com/smartcityvedio/Garbage_result_mp4version.mp4" frameborder="0"
                    allow="autoplay" allow="encrypted-media" aut allowfullscreen></iframe>
                    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>