<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" routerLink=""><img id="new_logo" src="../assets/images/newlogo.png"></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
          <ul class="nav navbar-nav navbar-right" id="headActive">
              <li *ngIf="!logindata" class="active"><a routerLink="" class="cursorPointer dotsDisable">Home</a></li>
              <li *ngIf="logindata"><a class="cursorPointer" routerLink="/dashboard/main/Coimbatore">Dashboard</a></li>
              <li *ngIf="logindata"><a (click) = "logout()" class="cursorPointer">Logout</a>
          </ul>
      </div>
  </div>
</div>