.dashBoardDrp{
    border: 0px;
    border-radius: 0px;
    font-size: 14px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a, #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover, #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: rgb(97, 187, 151);
    border-bottom: 5px solid rgb(97, 187, 151);
    padding: 32px 20px;
    
}
#new_logo{
width: 350px;
margin-left: -20px;
margin-top: -10px;
}