
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)"> City Level Dashboard</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">City Smart Water & Sewage</a></li>
 </ol>
<div  style="padding: 0px;">
  <div class="chartContent">   
      <div class="">
          <div  class="">
              <div class="col-lg-5 col-md-12 col-ms-12 col-xs-12 airMap m-btm20" style="padding-left:25px;">
                <div class="electricitymap" id="incidentMapArea111">
                    <agm-map #gm1 [latitude]="lat1" [longitude]="lng1" [zoom]="zoom1" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked1($event)">
        
                        <agm-marker *ngFor="let m of markers1; let i = index" (markerClick)="clickedMarker1(m, i)" [latitude]="m.lat" [longitude]="m.lng"
                          [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl" (dragEnd)="markerDragEnd(m, $event)" (mouseOver)="mouseOver1($event, m.label, m.city, m.severity, m.type, infoWindow1, gm1)">
                       
                        <agm-info-window #infoWindow1 class="font-sanserif">
                            <div>
                                <div class="satisfactryStyle" [hidden]="!excessVar">
                              {{type}}
                                </div>
                                <div class="severeStyle" [hidden]="!deficientVar">
                                    {{type}}
                                  </div>
                                  <div class="bordrBtm">
                                      <span class="f-size24">Distribution Volume : {{area}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                                      </div>
                                      <div class="bordrBtm">
                                          <span class="f-size24"> Capacity: {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp; <br>
                                      </div>
                                </div>
                          </agm-info-window>
                        </agm-marker>
                      </agm-map>
                </div>        
              </div>
              <div class="col-lg-7 col-md-12 col-ms-12 col-xs-12">
                  <div id="tabsArea" class="multitabs">
                      <div class="panel panel-default">
                        <div class="panel-heading">                  
                          <ul class="nav nav-tabs">
                            <li class="active" data-toggle="tooltip" title="Smart Water Distribution">
                              <a data-toggle="tab" href="#tab11" class="text-capitalize">Smart Water Distribution</a>
                            </li>
                            <li data-toggle="tooltip" title="Distribution Volume">
                              <a data-toggle="tab" href="#tab22" class="text-capitalize">Distribution Volume</a>
                            </li>                   
                          </ul>      
                        </div>
                        <div class="panel-body">
                          <div class="tab-content chartContent">
                            <div id="tab11" class="tab-pane fade in active">      
                               <div class="paddingLeftRightZero">
                                 <div>
                                   <img src="../assets/images/waterImg.jpg" class="img-responsive imgWater">
                                 </div>
                                 <div>
                                   <div class="f-size20">{{ todayDate | date : "dd.MM.y" }} Morning</div>
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeftRightZero">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 paddingLeftRightZero">
                                      <div class="watrTxtBg">Total No. of ELSRs</div>
                                      <div class='v-center-flex'>
                                        <div class="f-size20"> 8</div>
                                      </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                                      <div class="watrTxtBg">Total Capacity</div>
                                      <div class='v-center-flex'>
                                        <div class="f-size20"> 1600 KL</div>
                                      </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                                      <div class="watrTxtBg">Supplied Quantity</div>
                                      <div class='v-center-flex'>
                                        <div class="f-size20"> 1450 KL</div>
                                      </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right: 0px;">
                                      <div class="watrTxtBg">Supplied Quantity</div>
                                      <div class='v-center-flex'>
                                        <div>
                                          <img src="../assets/images/water quantity.png" style="width: 82px;" class="img-responsive">
                                        </div>
                                      </div>
                                    </div>
                                   </div>
                                 </div>
                                 <div class="col-lg-12 colmd-12 col-sm-12 col-xs-12 paddingLeftRightZero">
                                   <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 paddingLeftRightZero">
                                    <div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingLeftRightZero" >
                                        <div class="watrTxtBg">Excess Supply Count</div>
                                        <div class='v-center-flex'>
                                          <div class="f-size20"> 5</div>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="watrTxtBg">Excess Volume</div>
                                        <div class='v-center-flex'>
                                          <div class="f-size20"> 1100 KL</div>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"  style="padding-left:0px;">
                                        <div class="watrTxtBg">Excess Supply</div>
                                        <div class='v-center-flex'>
                                          <div>
                                            <img src="../assets/images/water quantity 9.8.png" style="width: 82px;" class="img-responsive">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingLeftRightZero">
                                        <div class="watrTxtBg">Deficient Supply Count</div>
                                        <div class='v-center-flex'>
                                          <div class="f-size20"> 3</div>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="watrTxtBg">Deficient Volume</div>
                                        <div class='v-center-flex'>
                                          <div class="f-size20"> 350 KL</div>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                                        <div class="watrTxtBg">Deficient Supply</div>
                                        <div class='v-center-flex'>
                                          <div>
                                            <img src="../assets/images/water quantity 19.32.png" style="width: 82px;" class="img-responsive">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                   </div>
                                   <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 paddingLeftRightZero">
                                    <div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                        <div class="watrTxtBg">Excess Supply ELSRs</div>
                                        <div class="excessScroll">
                                          <div class="txtBorder">Ram Nagar</div>
                                          <div class="txtBorder">Malumichampatti</div>
                                          <div class="txtBorder">Karumathampatti</div>
                                          <div class="txtBorder">Palladam</div>
                                          <div class="txtBorder">Annur</div>
                                          <!-- <div class="txtBorder">Tiruppur</div>
                                          <div class="txtBorder">Thoothukudi</div> -->
                                        </div>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingLeftRightZero">
                                        <div class="watrTxtBg">Deficient Supply ELSRs</div>
                                        <div class="excessScroll">
                                          <div class="txtBorder">Mettupalayam</div>
                                          <div class="txtBorder">Kattampatti</div>
                                          <div class="txtBorder">Gudalur</div>
                                         
                                        </div>
                                      </div>
                                    </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                            <div id="tab22" class="tab-pane fade in  chartwater" style="height: 411px;overflow: auto;">
                              <div>
                                  <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme4" [results]="data111" [gradient]="gradient" [xAxis]="showXAxis"
                                  [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                                </ngx-charts-bar-vertical-2d>
                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div> 
            </div>
        </div>
        </div>
        </div>