
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)"> City Level Dashboard</a></li>
  <li class="breadcrumb-item"><a href="javascript:void(0)"> Incident Dashboard</a></li>
   <li class="breadcrumb-item active"><a href="javascript:void(0)">List Of Incidents</a></li>
  </ol>
<div id="tabsArea" class="multitabs parentTabs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <ul class="list-inline panel-actions">
                <li>
                  <a id="panel-fullscreen" role="button" title="Toggle fullscreen">
                    <i class="glyphicon glyphicon-resize-full"></i>
                  </a>
                </li>
              </ul>
              <ul class="nav nav-tabs" id="tabUL">
                <li class="active" data-toggle="tooltip" title="Fire">
                  <a data-toggle="tab" href="#tab1" class="text-capitalize">Fire</a>
                </li>
                <li data-toggle="tooltip" title="Smart Surveillance">
                  <a data-toggle="tab" href="#tab2" class="text-capitalize hidentxt">Smart Surveillance</a>
                </li>
                <li data-toggle="tooltip" title="Smart Public Event">
                  <a data-toggle="tab" href="#tab3" class="text-capitalize hidentxt">Smart Public Event</a>
                </li>
                <li data-toggle="tooltip" title="Natural Disaster">
                  <a data-toggle="tab" href="#tab4" class="text-capitalize">Natural Disaster</a>
                </li>
                <li data-toggle="tooltip" title="Smart Traffic">
                  <a data-toggle="tab" href="#tab5" class="text-capitalize">Smart Traffic</a>
                </li>
                <li data-toggle="tooltip" title="Smart Fiber">
                  <a data-toggle="tab" href="#tab6" class="text-capitalize">Smart Fiber</a>
                </li>
                <li data-toggle="tooltip" title="Isafe">
                  <a data-toggle="tab" href="#tab7" class="text-capitalize">Isafe</a>
                </li>
                <li data-toggle="tooltip" title="Isafe">
                  <a data-toggle="tab" href="#tab8" class="text-capitalize">Citizen Complaints</a>
                </li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content incidentdashHight">
                <div id="tab1" class="tab-pane fade in active">
                    <ul id="navMenus5" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':fireVar11 === true}">
                        <!-- <li class="cursorPointer"  style="color:#999;" [innerText]="fire1"> : Closed </li> 
                        
                        <li [hidden]="!fireVarSalem" class="cursorPointer" style="color:#999;" [hidden]="!fireVarSalem"  [innerText]="fireSalem"> : Closed </li>
                        <li  class="cursorPointer" style="color:#999;"   [innerText]="fire2"> : Closed </li>
                        <li  class="cursorPointer" style="color:#999;"   [innerText]="fire3"></li> -->
                        <li *ngFor="let hero of fireArray" class="cursorPointer"  style="color:#999;">{{hero.description}} : {{hero.status}}
                        </li>
                    </ul>
                </div>
                <div id="tab2" class="tab-pane fade" >
                    <ul id="navMenus" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightBomb === true}">
                       <!-- <li *ngFor = ""></li> -->
                         <!-- <li><a class="cursorPointer" (click)="abcd(accident1)" [innerText]="accident1"></a></li>
                        <li><a class="cursorPointer" (click)="abcd(accident2)" [innerText]="accident2"></a></li>
                        <li><a class="cursorPointer" (click)="abcd(newsTraffic)" [innerText]="newsTraffic"></a></li>
                        <li><a class="cursorPointer" [innerText]="newsBomb"></a></li>  -->
                        <li *ngFor="let hero of bombArray" class="cursorPointer"  style="color:#999;">{{hero.description}} : {{hero.status}}
                          </li>
                          <!-- <span> : </span> -->
                          <!-- <span>
                            <li *ngFor="let hero of bombArray" class="cursorPointer"  style="color:#999;" [innerText]="hero.status">
                            </li>
                          </span> -->
                    </ul>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <ul id="navMenus1" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':cameraVar1 === true}">
                        <!-- <li> <a class="cursorPointer" (click)="abcd(road1)" [innerText]="road1"></a></li>
                        <li> <a class="cursorPointer" style="color:#999;" (click)="abcd(road2)" [innerText]="road2"></a></li>
                        <li>  <a class="cursorPointer" style="color:#999;" (click)="abcd(road3)" [innerText]="newsFiber"></a></li> -->
                        <li *ngFor="let hero of transArray" class="cursorPointer" style="color:#999;"> {{hero.description}} : {{hero.status}}
                          </li>
                         <!-- <li><a class="cursorPointer" [hidden]="!cameraVar" (click)="camera(cam1)" [innerText]="cam1"></a></li>  -->
                    </ul>                
                </div>
                <div id="tab4" class="tab-pane fade">
                    <ul id="navMenus2" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightFlood === true}">
                        <!-- <li> <a class="cursorPointer" (click)="abcd(natural1)" [innerText]="natural1"></a></li>
                        <li> <a class="cursorPointer" (click)="abcd(natural2)" [innerText]="natural2"></a></li>
                        <li>  <a class="cursorPointer" (click)="abcd(newsWater)" [innerText]="newsWater"></a></li> -->
                        <li *ngFor="let hero of floodArray" class="cursorPointer" style="color:#999;"  >{{hero.description}} : {{hero.status}}
                          </li>
                    </ul>                   
                </div>
                <div id="tab5" class="tab-pane fade">
                    <ul id="navMenus3" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightTraffic1 === true}">
                        <!-- <li><a class="cursorPointer" (click)="abcd(mass1)" [innerText]="mass1"></a></li>
                        <li> <a class="cursorPointer" (click)="abcd(mass2)" [innerText]="mass2"></a></li>
                        <li><a class="cursorPointer" (click)="abcd(mass3)" [innerText]="newsTraffic"></a></li> -->
                        <li *ngFor="let hero of trafficArray" class="cursorPointer" style="color:#999;"> {{hero.description}} : {{hero.status}}
                          </li>
                    </ul>                   
                </div>
                <div id="tab6" class="tab-pane fade">
                    <ul id="navMenus4" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightFiber1 === true}">
                        <!-- <li> <a class="cursorPointer" style="color:#999;" (click)="abcd(parking1)" [innerText]="parking1"></a></li>
                        <li> <a class="cursorPointer" style="color:#999;" (click)="abcd(parking2)" [innerText]="parking2"></a></li>
                        <li><a class="cursorPointer" style="color:#999;" (click)="abcd(parking3)" [innerText]="parking3"></a></li> -->
                        <li *ngFor="let hero of fiberArray" class="cursorPointer" style="color:#999;" > {{hero.description}} : {{hero.status}}
                          </li>
                    </ul>                   
                </div>
                <div id="tab7" class="tab-pane fade">
                  <ul id="navMenus11" class="autoScroll11" style="margin-left: -40px;" [ngClass]="{'lastChildACtiveUI':highlightIsafe === true}">
                      <!-- <li> <a class="cursorPointer" style="color:#999;" (click)="abcd(parking1)" [innerText]="parking1"></a></li>
                      <li> <a class="cursorPointer" style="color:#999;" (click)="abcd(parking2)" [innerText]="parking2"></a></li>
                      <li><a class="cursorPointer" style="color:#999;" (click)="abcd(parking3)" [innerText]="parking3"></a></li> -->
                      <li *ngFor="let hero of isafeArray" class="cursorPointer" style="color:#999;" > {{hero.description}} : {{hero.status}}
                        </li>
                  </ul>                   
              </div>
              <div id="tab8" class="tab-pane fade">
                <table class="table table-responsive table-striped  table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Citizen Name</th>
                      <th scope="col">Mobile Number</th>
                      <th scope="col">Location</th>
                      <th scope="col">Department</th>
                      <th scope="col">Description</th>
                      <th scope="col">Date</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr *ngFor="let show of incidentList; let i = index">
                      <td scope="row">{{i+1}}</td>
                      <td class="table-primary">  {{show.citizenName}}</td>
                      <td class="table-primary" >{{show.citizenMobileNumber}}</td>
                      <td class="table-primary">{{show.citizenLocation}}</td>
                      <td class="table-primary">{{show.department}}</td>
                      <td class="table-primary">{{show.description}}</td>
                      <td class="table-primary">{{show.createdTime | date :'medium'}}</td>
                      <td class="table-primary">{{show.status}}</td>
                    </tr>
                  </tbody>
                </table>       
            </div>
              </div>
            </div>
          </div>
        </div>