<div class="">
  <div>
    <div class="row-fluid">
      <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
        <div class="positionRelative">

          <div id="watermap" >
            <!-- <app-map></app-map> -->
            <!-- <img  src="markers[0].iconUrl">
                  {{markers[0].iconUrl}}
                 <img src="../assets/images/light_on.png">
                 <img src="assets/images/lightOn.png"> -->
            <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoomWater" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">

              <agm-marker *ngFor="let m of waterMarkers; let i = index" (markerClick)="clickedMarker(m.label, i, m.info, m.type, m.previousReading, m.currentReading, m.time, m.status,m.collectionBill,m.bandwidth,m.lightStatus);gm.lastOpen?.close(); gm.lastOpen = infoWindow"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl"
                (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window #infoWindow>
                  <div class="tooltipData" *ngIf="!viewBusTransport">
                    <strong class="text-center" style="color:red;text-align: center !important;
                            display: inherit;">Report Status</strong>
                    <strong>
                      <hr class="hrStyle1" />
                    </strong>
                    <strong>Area: {{ info1 }}</strong>
                    <br>
                    <strong>Type: {{type}}</strong>
                    <br>
                    <strong *ngIf="type == 'Parking Availability'">Total Capacity
                      <span *ngIf="type == 'Parking Availability'">:</span> {{previousReading+currentReading}}</strong>
                    <br *ngIf="type == 'Parking Availability'">
                    <strong>{{typeOfData.first}}
                      <span *ngIf="typeOfData.first">:</span> {{previousReading}}</strong>
                    <span *ngIf="type == 'Water Distributed'">GPM</span>
                    <span *ngIf="type == 'Waste Management'">%</span>
                    <br *ngIf="typeOfData.first">
                    <strong>{{typeOfData.secound}}
                      <span *ngIf="typeOfData.first">:</span> {{currentReading}}</strong>
                    <span *ngIf="type == 'Water Distributed'">GPM</span>
                    <span *ngIf="type =='Waste Management'">%</span>
                    <br *ngIf="typeOfData.first">


                    <strong *ngIf="bandwidth">{{bandwidthkey}}
                      <span *ngIf="bandwidth"> </span> {{bandwidth}}</strong>
                    <br *ngIf="bandwidth">


                    <strong *ngIf="type != 'Water Distributed'"> Status: {{status}}</strong>
                    <br *ngIf="type != 'Water Distributed'">

                  </div>
                  <div class="tooltipData" *ngIf="viewBusTransport" style="border: 2px solid #000">
                    <table border="1" class="transportTable">
                      <tr style="background: #96c7f1;">
                        <th colspan="6" class="text-center">
                          {{info1}}
                        </th>
                      </tr>
                      <tr style="background: #96c7f1;">
                        <td>Stop Code</td>
                        <td colspan="6">{{previousReading}}</td>
                      </tr>
                      <!-- <tr style="background: #96c7f1;">
                          <td>Delay</td>
                          <td colspan="2">20 min</td>
                        </tr> -->
                      <tr style="background: #96c7f1;">
                        <td>Bus No.</td>
                        <td>Route No.</td>
                        <td>Estimated Time</td>
                        <td>Delay</td>
                        <td>Traffic</td>

                      </tr>
                      <tr *ngFor="let bus of currentReading" style="background: #DEE8F5">
                        <td>{{bus.busNum}}</td>
                        <td>{{bus.routeNO}}</td>
                        <td>{{bus.estimatedTime}}</td>
                        <td>{{bus.delay}}</td>
                        <td>{{bus.traffic}}</td>

                      </tr>
                    </table>


                  </div>
                </agm-info-window>

              </agm-marker>


            </agm-map>



          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">

        <div id="tabsArea" class="multitabs parentTabs">
          <div class="panel panel-default">
            <div class="panel-heading">
              <!-- <h3 class="panel-title">Panel title</h3> -->
              <ul class="list-inline panel-actions">
                <li>
                  <a id="panel-fullscreen" role="button" title="Toggle fullscreen">
                    <i class="glyphicon glyphicon-resize-full"></i>
                  </a>
                </li>
              </ul>

              <ul class="nav nav-tabs" id="assertdashboard">
                <li class="active" data-toggle="tooltip" title="Distribute In City">
                  <a data-toggle="tab" href="#watertab2" class="text-capitalize">Distribute In City </a>
                </li>
                <li data-toggle="tooltip" title="Bill Collection">
                  <a data-toggle="tab" href="#watertab3" class="text-capitalize"> Bill Collection </a>
                </li>

              </ul>

            </div>
            <div class="panel-body">
              <div class="tab-content chartContent">
                <!-- <div id="watertab1" class="tab-pane fade in active">
                   
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10">
                        <div class="f-size20 p10 titleArea">{{info1}}</div>
                        <div class="p-20">
                        <div class="">
                            <ngx-charts-pie-chart
                            [view]="waterview"
                            [scheme]="colorScheme"
                            [results]="waterFlow"
                            [legend]="showLegend"
                            [explodeSlices]="explodeSlices"
                            [labels]="showLabels"
                            [doughnut]="doughnut"
                            [gradient]="gradient"
                            (select)="onSelect($event)">
                          </ngx-charts-pie-chart>
                         
                        </div>
                        
                          </div>
                      </div>
              </div> -->
                <div id="watertab2" class="tab-pane fade in active">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height:375px;">
                    <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
                    <div class="p-20">
                      <div class="coimbaterCenter">
                        <ngx-charts-advanced-pie-chart [view]="view11" [scheme]="colorScheme" [results]="waterViewDetails" [gradient]="gradient"
                          (select)="onSelect($event)">
                        </ngx-charts-advanced-pie-chart>

                      </div>

                    </div>
                  </div>
                </div>

                <div id="watertab3" class="tab-pane fade in">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10">
                    <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
                    <div class="p-20">
                      <div class="divCenter">

                        <ngx-charts-bar-vertical [view]="viewforWaterDistrib" [scheme]="colorScheme" [results]="waterBillMonthWise" [gradient]="gradient"
                          [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>