.inputStyle{
    border-radius: 48px;
    border: 1px solid #999;
    outline: none;
    width: 235px;
    padding: 8px;
    
}
.loginBtn{
        background: #16568e;
        color: #fff;
        border-radius: 20px;
        width: 100px;
        box-shadow: 0px -4px 7px 1px #b3b3b3;
        margin-bottom: 20px;
        outline: none;
}