<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)"> State Level Dashboard</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">  Environmental Dashboard</a></li>
 </ol>
<div style="padding: 0px;">
  <div class="chartContent">
    <div class="">
      <div id="tab3" class="">
        <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 " style="padding-left:0px;">
          <div>
            <ul class="liststyleNone" style="padding-bottom: 40px;margin-left: -20px;">
              <li class="f_left libtn" (click)="pmClick('pm')">PM2.5</li>
              <li class="f_left libtn" (click)="co2Click('co2')">CO
                <sub>2</sub>
              </li>
              <li class="f_left libtn" (click)="soClick('so')">SO
                <sub>2</sub>
              </li>
              <li class="f_left libtn" (click)="noClick('no')">No
                <sub>2</sub>
              </li>
              <li class="f_left libtn" (click)="oClick('o')">O
                <sub>2</sub>
              </li>
              <li class="f_left libtn" (click)="noiseClick('noise')">Noise Level</li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="airMap" style="padding-left: 20px;">
            <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">

              <agm-marker *ngFor="let m of markers; let i = index"   (markerClick)="clickedMarker(m, i);gm.lastOpen?.close(); gm.lastOpen = infoWindow" [latitude]="m.lat" [longitude]="m.lng"
                [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl" (dragEnd)="markerDragEnd(m, $event)"  (mouseOver)="mouseOver($event, m.label, m.city, m.severity, m.type, infoWindow, gm);gm.lastOpen?.close(); gm.lastOpen = infoWindow">

                <agm-info-window #infoWindow class="font-sanserif">

                  <div>
                    <div class="satisfactryStyle" [hidden]="!goodVar">
                      <b > Good</b>
                    </div>
                    <div class="severeStyle" [hidden]="!severeVar">
                    <b style="text-align: center">  Severe</b>
                    </div>
                    <div class="moderateStyle" [hidden]="!moderateVar">
                      <b>Moderate</b>
                    </div>
                    <div class="" [hidden]="!severity1">
                      <span class="f-size24">PM2.5 : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                      <br>
                    </div>
                    <div class="" [hidden]="!coVar">
                      <span class="f-size24">CO
                        <span>2</span>: {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                      <br>
                    </div>
                    <div class="" [hidden]="!noVar">
                      <span class="f-size24">NO
                        <span>2</span> : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                      <br>
                    </div>
                    <div class="" [hidden]="!soVar">
                      <span class="f-size24">SO
                        <span>2</span> : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                      <br>
                    </div>
                    <div class="" [hidden]="!oVar">
                      <span class="f-size24">O
                        <span>2</span> : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                      <br>
                    </div>
                    <div class="" [hidden]="!noiseVar">
                      <span class="f-size24">Noise Levels : {{severity}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>

                    <div class="bordrBtm f-size12" [hidden]="!goodVar">
                      <span>Minimal impact </span>
                    </div>
                    <div class="bordrBtm f-size12" [hidden]="!moderateVar">
                      <span>Breathing discomfort to most people on prolonged exposure</span>
                    </div>
                    <div class="bordrBtm f-size12" [hidden]="!severeVar">
                      <span>Respiratory illness on prolonged exposure </span>
                    </div>
                    <div class="f-size12">
                      <span>{{city}}, Tamil Nadu</span>
                    </div>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" style="display: none;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <agm-map #gm [latitude]="latview" [longitude]="lngview" [zoom]="zoomview" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">
          <agm-marker 
          *ngFor="let m of markers2; let i = index" 
          (markerClick)="clickedMarker(m.label, i, m.info, m.type, m.previousReading, m.currentReading, m.time, m.status, m.co2, m.so2, m.no2, m.o2, m.noise);gm.lastOpen?.close(); gm.lastOpen = infoWindow" 
          [latitude]="m.lat" 
          [longitude]="m.lng"
          [label]="m.label" 
          [markerDraggable]="m.draggable"
          [iconUrl] = "m.iconUrl"
          (dragEnd)="markerDragEnd(m, $event)">
      <agm-info-window #infoWindow>
        <div class="tooltipData">
          <strong class="text-center" style="color:red;    text-align: center !important;
          display: inherit;">Report Status</strong> 
          <strong><hr class="hrStyle1"/></strong>
          <strong>Area: {{ m.info }}</strong> <br>
          <strong>CO<sub>2</sub>: {{m.co2}}</strong> µg/m³ <br>
          <strong>SO<sub>2</sub>: {{m.so2}}</strong> µg/m³ <br>
          <strong>NO<sub>2</sub>: {{m.no2}}</strong> µg/m³ <br>
          <strong>O<sub>2</sub>: {{m.o2}}</strong> µg/m³ <br> 
          <strong>Noise Level: {{m.noise}}</strong> DB<br>
          <strong>Device Status: {{m.status}}</strong> <br>
          
        </div>
      </agm-info-window>

      </agm-marker>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>