<p>
  dashboard-component works!
</p>
<div class="bgColorHeight">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:0px;">
    <div class="nav-side-menu" style="margin-top: 90px;">
      <!-- <div class="brand">Brand Logo</div> -->
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    
          <div class="menu-list">
    
              <ul id="menu-content" class="menu-content collapse out">
             
  
                  <!-- <li  data-toggle="collapse" data-target="#products" class="collapsed "  routerLink="/dashboard/iccc/{{city}}">
                    <a> <i class="fa fa-gift fa-lg"></i> ICCC </a>
                  </li>   -->
                  <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a><i class="fa fa-globe fa-lg"></i> State Level Dashboard <span class="arrow"></span></a>
                  </li>  
                   <ul class="sub-menu collapse" id="service">
                    <li  routerLink="/dashboard/statlevel/{{city}}">
                      <a>Digital Assets</a>
                    </li>
                    <li routerLink="/dashboard/stateparking/{{city}}">
                      <a> Smart Parking </a>
                    </li>
                    <li routerLink="/dashboard/statetransport/{{city}}">
                      <a> Smart Transport </a>
                    </li>
                    <li routerLink="/dashboard/stateair/{{city}}">
                        <a> Environmental Dashboard </a>
                      </li>
                    <li routerLink="/dashboard/statewater/{{city}}">
                        <a> Water & Sewage Board </a>
                    </li>
                    <li routerLink="/dashboard/stateall/{{city}}">
                        <a > Incidents Summary </a>
                    </li>
                    <li routerLink="/dashboard/iccc/{{city}}">
                      <a> Incidents Dashboard </a>
                    </li>   

                  </ul>
                  <li data-toggle="collapse" data-target="#service1" class="collapsed">
                    <a><i class="fa fa-globe fa-lg"></i> City Level Dashboard <span class="arrow"></span></a>
                  </li> 
                  <ul class="sub-menu collapse" id="service1">
                    <!-- <li data-toggle="collapse" data-target="#new" class="collapsed"  routerLink="/dashboard/incident/{{city}}">
                      <a><span><i class=""></i> Incident Dashboard</span></a>
                    </li>  -->
                    <li data-toggle="collapse" data-target="#service2" class="collapsed" routerLink="/dashboard/incident/{{city}}">
                      <a><i class=""></i> Incident Dashboard <span class="arrow"></span></a>
                    </li> 
                    <ul class="sub-menu collapse" id="service2">
                  <li data-toggle="collapse" data-target="#new" class="collapsed"  routerLink="/dashboard/incidents/{{city}}">
                      <a><span><i class=""></i> List Of Incidents</span></a>
                    </li> 
                    </ul>
                    <li data-toggle="collapse" data-target="#new" class="collapsed"  routerLink="/dashboard/citywater/{{city}}">
                      <a><span><i class=""></i> City Smart Water & Sewage </span></a>
                    </li>
                    <li>
                      <a routerLink="/dashboard/environment/{{city}}">
                      <i class=""></i> Environmental Dashboard
                      </a>
                      </li>
                      <li data-toggle="collapse" data-target="#digital" class="collapsed">
                        <a><i class=""></i> Digital Assets <span class="arrow"></span></a>
                      </li>  
                       <ul class="sub-menu collapse" id="digital">
                        <li routerLink="/dashboard/digital/{{city}}">
                          <!-- <a> All Assets </a> -->
                          <a><span><i class=""></i> All Assets </span></a>
                        </li>
                        <li  routerLink="/dashboard/parking/{{city}}">
                          <!-- <a> Smart Parking </a> -->
                          <a><span><i class=""></i> Smart Parking </span></a>
                        </li>
                        <li routerLink="/dashboard/pole/{{city}}">
                            <!-- <a> Smart Pole </a> -->
                            <a><span><i class=""></i> Smart Pole </span></a>
                          </li>
                        <!-- <li routerLink="/dashboard/water/{{city}}"> -->
                            <!-- <a> Smart Water Distribution </a> -->
                            <!-- <a><span><i class=""></i> Smart Water Distribution </span></a> -->
                        <!-- </li> -->
                        <li routerLink="/dashboard/wifi/{{city}}">
                            <!-- <a> Smart Wifi </a> -->
                            <a><span><i class=""></i> Smart Wifi </span></a>
                        </li>
                        <li routerLink="/dashboard/waste/{{city}}">
                            <!-- <a> Waste Management </a> -->
                            <a><span><i class=""></i> Waste Management </span></a>
                        </li>
                        <li routerLink="/dashboard/transport/{{city}}">
                            <!-- <a> Smart Transport </a> -->
                            <a><span><i class=""></i> Smart Transport </span></a>
                        </li>                        
                      </ul>
                  </ul>
                  <li data-toggle="collapse" data-target="#service3" class="collapsed">
                    <a><i class="fa fa-globe fa-lg"></i> E Governance <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="service3">
                    <li data-toggle="collapse" data-target="#new" class="collapsed"  routerLink="/dashboard/propertytax/{{city}}">
                      <a><span><i class=""></i> Property Tax</span></a>
                    </li> 
                    <li data-toggle="collapse" data-target="#new" class="collapsed"  routerLink="/dashboard/birth/{{city}}">
                      <a><span><i class=""></i> Birth & Death Chart </span></a>
                    </li>
                    <!-- <li data-toggle="collapse" data-target="#new" class="collapsed"  routerLink="/dashboard/urbansprawl/{{city}}">
                      <a><span><i class=""></i>Urban Sprawl</span></a>
                    </li> -->
                    </ul>
                    <li data-toggle="collapse" data-target="#serviceLive" class="collapsed">
                      <a><i class="fa fa-globe fa-lg"></i> Live Device Integrations <span class="arrow"></span></a>
                    </li>  
                     <ul class="sub-menu collapse" id="serviceLive">
                      <li  routerLink="/dashboard/realParking/{{city}}">
                        <a> Smart Parking </a>
                      </li>
                      <li  routerLink="/dashboard/realBin/{{city}}">
                        <a> Smart Waste Management </a>
                      </li>
                      <li  routerLink="/dashboard/realWifi/{{city}}">
                        <a> Smart Wifi </a>
                      </li>
                      <li  routerLink="/dashboard/realPole/{{city}}">
                        <a> Smart Pole </a>
                      </li>
                      <li  routerLink="/dashboard/realTraffic/{{city}}">
                        <a> Smart Traffic </a>
                      </li>
                      <li  routerLink="/dashboard/smartsurveiliance/{{city}}">
                        <a> Real Smart Surveiliance</a>
                      </li>
                      <li  routerLink="/dashboard/realFlood/{{city}}">
                        <a> Flooding Management </a>
                      </li>
                      <li  routerLink="/dashboard/realEnvironment/{{city}}">
                        <a> Environmental Dashboard </a>
                      </li>
                      </ul>
                    <li>
                      <a routerLink="/dashboard/alert/{{city}}">
                      <i class="fa fa-user fa-lg"></i> Send Alert
                      </a>
                      </li>
              </ul>
       </div>
  </div>
   </div>
   <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" >
    <div class="dashbrddivision">
      <router-outlet></router-outlet>
    </div>
   </div>
   </div>


