<!-- Paring Map included here -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)"> City Level Dashboard</a></li>
  <li class="breadcrumb-item "><a href="javascript:void(0)"> Digital Assets</a></li>
   <li class="breadcrumb-item active"><a href="javascript:void(0)"> Smart Parking</a></li>
 </ol>
<div class="">
  <div>
    <div class="row-fluid">
      <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
        <div class="positionRelative">
          <!-- <p style=" font-size: 22px;">parking :</p> -->
          <div id="parkingmap" style="border:1px solid #ddd;border-radius:6px;">

          <agm-map [latitude]="lat" #gm [longitude]="lng" [zoom]="parkingZoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">

              <agm-marker *ngFor="let m of parkingMarkers; let i = index" (markerClick)="clickedMarker(m.label, i, m.info, m.type, m.previousReading, m.currentReading, m.time, m.status,m.collectionBill,m.bandwidth,m.lightStatus, m.typeOfParking, m.fee, m.discounts);;gm.lastOpen?.close(); gm.lastOpen = infoWindow"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl"
                (dragEnd)="markerDragEnd(m, $event)">

                <agm-info-window #infoWindow>
                  <div class="tooltipData">

                    <strong>
                      <div class="moderateStyle" [hidden]="!moderateVar">
                        {{status}}
                      </div>
                      <div class="satisfactryStyle" [hidden]="!goodVar">
                        {{status}}
                      </div>
                      <div class="severeStyle" [hidden]="!severeVar">
                        {{status}}
                      </div>

                    </strong>
                    <strong>Area: {{ info1 }}</strong>
                    <br>
                    <strong>Type of Parking: {{typeOfParking}}</strong>
                    <br>
                    <strong>Fee: {{fee}}</strong>
                    <br>
                    <strong>Discounts: {{discount}}</strong>
                    <br>
                    <strong>Total Capacity
                      <span>:</span> {{previousReading+currentReading}}</strong>

                  </div>
                </agm-info-window>


              </agm-marker>


            </agm-map>

          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12" >
        <div id="tab2" class="tab-pane fade in">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height: 595px;">
            <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
            <div class="p-20">
              <div class="col-lg-12">
                <div class="parking">
                  <ngx-charts-advanced-pie-chart [view]="view11" [scheme]="colorScheme" [results]="single4" [gradient]="gradient" (select)="onSelect($event)">
                  </ngx-charts-advanced-pie-chart>

                </div>
              </div>
              <div class="col-lg-offset-2 col-lg-6" [hidden]="!clickedVar" style="margin-top: 252px;">
                <div class="text-center f-bold p10"> Revenue Details: </div>
                <div class="cardetailsStley">
                  <div style="padding: 10px;">
                    Type Of Parking: {{typeOfParking}}
                  </div>
                  <div style="padding: 10px;">
                    Fee: {{fee}}
                  </div>
                  <div style="padding: 10px;">
                    Discounts: {{discount}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>